@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    --header-height: 64px;
}

.menu-item {
    display: inline;
    position: relative;
    top: 3px
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.markdown-preview .github-markdown-body {
    /*padding: 0;*/
    background-color: unset !important;
}

.vmd .v-md-editor-preview .github-markdown-body {
    padding: 0 !important;
}

.vmd .github-markdown-body p {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.h-full {
    height: 80vh;
}

@media only screen and (max-width: 639px) {
    body {
        overflow: visible;
    }
}


/*noinspection ALL*/
.lae-logo {
    background-image: url('/assets/lae-dark.png');
    background-size: 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 25px;
    display: block;
}

@media (prefers-color-scheme: dark) {
    /* .background-container {
      background: url('/assets/images/bg-dark.jpg');
      filter: brightness(0.6);
    } */
    /*noinspection ALL*/
    .lae-logo {
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        background-image: url('/assets/lae-white.png');
    }


    .v-md-editor {
        background-color: #3b3b3b !important;
    }

    .v-md-editor__toolbar-item--active,
    .v-md-editor__toolbar-item--active:hover {
        background: #323232 !important;
    }

    .v-md-editor__toolbar {
        border-bottom: 1px solid #606060 !important;
    }

    .v-md-editor__toolbar-divider::before {
        border-left: 1px solid #606060 !important;
    }

    .v-md-editor--editable .v-md-editor__editor-wrapper {
        border-right: 1px solid #606060 !important;
    }

    .v-md-textarea-editor pre,
    .v-md-textarea-editor textarea {
        color: #cacaca !important;
    }


}