@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    --header-height: 64px;
}
@media only screen and (max-width: 639px) {
    body {
        overflow: visible;
    }
}