/* import google fonts */
@import url(https://fonts.googleapis.com/css?family=Nunito);

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.text-auto {
  color: #333;
}

.lae-logo {
  background-image: url('/assets/lae-dark.png');
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 25px;
  /* position: relative;
  top: -3px; */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

td {
  white-space: nowrap;
  overflow: hidden;
  word-break: keep-all;
}

.cursor-pointer {
  cursor: pointer;
}
/* 
.table-flash {
    animation: flash 1s linear;
}

@keyframes flash {
    from {
        background-color: #f8f9fa20;
    }
    to {
        background-color: none;
    }
} */

@media (prefers-color-scheme: dark) {
  /* .background-container {
    background: url('/assets/images/bg-dark.jpg');
    filter: brightness(0.6);
  } */

  .lae-logo {
    background-image: url('/assets/lae-white.png');
  }

  .text-auto {
    color: #fff;
  }

  .text-auto:hover {
    color: #fff !important;
  }

  .active {
    color: #fff !important;
  }

  .v-md-editor {
    background-color: #3b3b3b !important;
  }
  .v-md-editor__toolbar-item--active,
  .v-md-editor__toolbar-item--active:hover {
    background: #323232 !important;
  }

  .v-md-editor__toolbar {
    border-bottom: 1px solid #606060 !important;
  }

  .v-md-editor__toolbar-divider::before {
    border-left: 1px solid #606060 !important;
  }

  .v-md-editor--editable .v-md-editor__editor-wrapper {
    border-right: 1px solid #606060 !important;
  }

  .v-md-textarea-editor pre, .v-md-textarea-editor textarea {
    color: #cacaca !important;
  }
}
